body{
  justify-content: center;
  text-align: center;
  background-color: #fafaf7;
}
#app>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

.item {
    width: 200px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin: 2rem;
    background-color: #faf0e6;
    font: 20px "Comic Sans MS";

}



.item h2 {
    font: 30px sans-serif;
    text-align: center;
}
